
Documents/Repo_AppMoviles/Turnero_hospital/\.gradle/


Documents/Repo_AppMoviles/Turnero_hospital/local\.properties

Documents/Repo_AppMoviles/Turnero_hospital/\.idea/workspace\.xml

Documents/Repo_AppMoviles/Turnero_hospital/\.idea/libraries/

Documents/Repo_AppMoviles/Turnero_hospital/build/
